.custom-rounded {
  border-radius: 15px;
}

.btn-primary {
  background-color: #f09079 !important;
  border-color: #f09079 !important;
}

.card {
  background-color: #f8c9be !important;
  border: 1px solid hsl(0, 0%, 87%);
  border-color: #f8c9be !important;
  border-radius: 15px;
  margin: 20px 0;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body {
  background-color: #fdefec !important;
}

.jumbotron {
  background-color: #f8c9be !important;
}

.recipe-details {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.detail-name {
  font-weight: bold;
  color: #56494c;
  margin-right: 5px;
}

.detail-info {
  color: #343a40;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.detail-link {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.detail-icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 2px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  padding: 0;
}

.center-content {
  display: flex;
  justify-content: center;
}

.fixed-size-card {
  width: 100%;
  height: auto; /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fixed-size-card .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fixed-size-card .card-image {
  width: 100%;
  height: 200px; /* Adjust the height as needed */
  object-fit: cover;
}

.pagination-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.page-number {
  margin: 0 10px;
}

.ingredientsContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.ingredientsList {
  flex: 1;
  margin-right: 20px;
}
.ingredientsImage {
  flex: 1;
}
.ingredientsImage img {
  width: 100%;
  height: auto;
}

/* Media queries for responsive design */
@media (max-width: 1200px) {
  .ingredientsImage img {
    max-width: 400px;
  }
}

@media (max-width: 992px) {
  .ingredientsImage img {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .ingredientsContainer {
    flex-direction: column;
    align-items: center;
  }
  .ingredientsList {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .ingredientsImage img {
    max-width: 100%;
  }
}
