.custom-rounded {
  border-radius: 15px;
}

.btn-primary {
  background-color: #f09079 !important;
  border-color: #f09079 !important;
}

.card {
  background-color: #fff6ec !important;
  border: 1px solid hsl(0, 0%, 87%);
  border-color: #f8c9be !important;
  border-radius: 15px;
  margin: 20px 0;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-background {
  background-color: #f5b6a7 !important;
  padding: 25px;
  border-radius: 10px;
}

body {
  background-color: #fdefec !important;
}

.jumbotron {
  background-color: #f8c9be !important;
}

.recipe-details {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.detail-name {
  font-weight: bold;
  color: #56494c;
  margin-right: 5px;
}

.detail-info {
  color: #343a40;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.detail-link {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.detail-icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 2px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  padding: 0;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-size-card {
  width: 100%;
  height: auto; /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fixed-size-card .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fixed-size-card .card-image {
  width: 100%;
  height: 200px; /* Adjust the height as needed */
  object-fit: cover;
}

.pagination-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.page-number {
  margin: 0 10px;
}

.ingredientsContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.ingredientsList {
  flex: 1;
  margin-right: 20px;
}
.ingredientsImage {
  flex: 1;
}
.ingredientsImage img {
  width: 100%;
  height: auto;
}

.sr-card {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  padding: 15px;
  background-color: #f8c9be !important;
  border: 1px solid hsl(0, 0%, 87%);
  border-color: #f8c9be !important;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sr-card-image {
  flex: 1;
  margin-right: 20px;
}

.sr-card-title {
  font-weight: bold;
  color: #56494c;
  margin-bottom: 10px;
}

.sr-recipe-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sr-detail-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.sr-detail-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.sr-detail-name {
  font-weight: bold;
  color: #56494c;
  margin-right: 5px;
}

.sr-detail-info {
  color: #343a40;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.sr-detail-link {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.sr-toggle-button {
  background-color: #56494c;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.sr-instructions {
  margin-top: 10px;
}

.sr-instruction-step {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.sr-step-number {
  font-weight: bold;
  margin-right: 5px;
}

.sr-step-text {
  color: #343a40;
}

.badge-container {
  gap: 0.5em;
  margin-top: 0.5em;
}

.modal-badge-container {
  gap: 0.5em;
  margin-top: 0.5em;
  justify-content: center;
}

.container-background {
  background-color: #f8c9be;
  padding: 25px;
  border-radius: 10px;
}

.modal-background {
  background-color: #f8c9be;
  padding: 20px;
}

.modal-header {
  color: #56494c;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.modal-body {
  color: #56494c;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.image-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.instructions-page-container {
  padding: 20px;
}

.title-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-button-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.popup {
  position: absolute;
  top: 100px; /* Adjust as needed */
  right: 0;
  background-color: #f09079;
  color: #f8f4f3;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeInOut 2s;
  white-space: nowrap;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 1200px) {
  .ingredientsImage img {
    max-width: 400px;
  }
}

@media (max-width: 992px) {
  .ingredientsImage img {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .ingredientsContainer {
    flex-direction: column;
    align-items: center;
  }
  .ingredientsList {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .ingredientsImage img {
    max-width: 100%;
  }
}
