---
import BaseLayout from "../layouts/BaseLayout.astro";
import RandomItem from "../components/RandomItem.svelte";
import { getRecipies } from "../services/recipieService.js";
import RecipeCard from "../components/RecipieCard.svelte";

// Assuming you have an image file at src/assets/your-image.jpg
const imageUrl = "/Eatsy/images/eatsyLogo.svg";

// Hardcoded values
const params = {
  apiKey: "fb571eb0a36b417daee401017d390f99",
  "include-tags": "main course",
  number: "3",
};

// Example call to getRecipies with dynamic parameters including hardcoded values
const recipies = await getRecipies(params);
---

<BaseLayout>
  <div slot="main" class="container-fluid mt-5 home-background">
    <div class="row align-items-center">
      <div class="col-md-6">
        <img
          src={imageUrl}
          class="img-fluid custom-rounded"
          alt="Descriptive Alt Text"
        />
      </div>
      <div class="col-md-6">
        <div class="jumbotron p-5 custom-rounded">
          <h1 class="display-4">Welcome to Eatsy</h1>
          <p class="lead text-center">Food for Thought</p>
          <hr class="my-4" />
          <p class="detail-info">
            Need dinner inspiration? Let us do the thinking! <br /> Click below for
            a random tasty suggestion or explore recipies for endless inspiration.
          </p>
          <RandomItem client:load />
        </div>
      </div>
    </div>
  </div>

  <div slot="main" class="container mt-5 container-background">
    <h3 class="display-4">Popular Recipes</h3>
    <div class="row">
      {
        recipies.recipes.map((recipie) => (
          <div class="col-md-4">
            <RecipeCard recipie={recipie} client:load />
          </div>
        ))
      }
    </div>
  </div></BaseLayout
>
