---
import BaseLayout from "../layouts/BaseLayout.astro";
import DisplayRecipie from "../components/DisplayRecipie.svelte";
---

<BaseLayout>
  <div slot="main" class="container mt-5">
    <DisplayRecipie client:load />
  </div>
</BaseLayout>
