---
import BaseLayout from "../layouts/BaseLayout.astro";
import RecipieInstructions from "../components/DisplaySearchRecipie.svelte";
---

<BaseLayout>
  <div slot="main" class="container mt-5">
    <RecipieInstructions client:load />
  </div>
</BaseLayout>
