---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getRecipies } from "../services/recipieService.js";
import RecipiePagination from "../components/RecipiePagination.svelte";

const params = {
  apiKey: "fb571eb0a36b417daee401017d390f99",
  "include-tags": "main course",
  number: "27",
  includeInstructions: true,
};

let allRecipies;
try {
  allRecipies = await getRecipies(params);
  console.log(allRecipies);
} catch (error) {
  console.error("Failed to fetch recipies:", error);
  allRecipies = { recipies: [] };
}

const recipiesPerPage = 9;
let currentPage = 1;
---

<BaseLayout>
  <div slot="main" class="container mt-5">
    <div class="title-button-container">
      <h3 class="display-4">Browse Recipies</h3>
      <img src="/Eatsy/images/eggsAndBaconImage.png" alt="eggs and bacon" />
    </div>
    <RecipiePagination
      client:only="svelte"
      allRecipies={allRecipies}
      recipiesPerPage={recipiesPerPage}
      currentPage={currentPage}
    />
  </div>
</BaseLayout>
