---
title: "Recipes";
description: "Browse recipe results based on meal types and diets.";

import BaseLayout from "../layouts/BaseLayout.astro";
import RecipePagination from "../components/RecipePagination.svelte";
import BackToTopButton from "../components/BackToTopButton.astro";

const recipesPerPage = 9;
let currentPage = 1;
---

<BaseLayout>
  <div slot="main" class="container mt-5">
    <div class="title-button-container">
      <h1 class="display-4">Browse Recipes</h1>
      <img src="/Eatsy/images/eggsAndBaconImage.png" alt="eggs and bacon" />
    </div>
    <RecipePagination
      client:only="svelte"
      recipesPerPage={recipesPerPage}
      currentPage={currentPage}
    />
    <BackToTopButton />
  </div>
</BaseLayout>
