---
import BaseLayout from "../layouts/BaseLayout.astro";
import SearchResult from "../components/SearchResult.svelte";
---

<BaseLayout
  ><div slot="main" class="container mt-5">
    <h3>Search Results</h3>
    <SearchResult client:load />
  </div>
</BaseLayout>
