---
---


<button type="button" class="btn btn-back-to-top" id="btn-back-to-top">
            <img
            src="/Eatsy/images/up-arrow.png"
            alt="Back to top arrow"
          />
</button>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Get the button
    const mybutton = document.getElementById("btn-back-to-top");

    // When the user scrolls down, show button
    window.onscroll = function() {
      scrollFunction();
    };

    // Set to 20 px before showing button
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    // When the user clicks on the button, scroll back to top
    mybutton.addEventListener("click", function() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    });
  });
</script>
