---
title: "Header";
---

<header style="background-color: #F5B6A7;">
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <a class="navbar-brand" href="/Eatsy">
      Eatsy <img
        src="/Eatsy/images/blackBurgerIcon.png"
        alt="burger icon"
        class="detail-icon"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/Eatsy">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Eatsy/browse">Browse Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Eatsy/searchResults">Search Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Eatsy/favourites">My Favourites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Eatsy/aboutUs">About Eatsy</a>
        </li>
      </ul>
      <form class="d-flex ms-auto" id="searchForm">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search recipes..."
          aria-label="Search"
          id="searchQuery"
        />
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>
