---
title: "Base Layout";
description: "This is the base layout for the site.";

import "../styles/custom.css";
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eatsy</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="/Eatsy/images/burgerIcon.png" />
  </head>
  <body>
    <Header />

    <main class="container mt-5">
      <!-- Named slot for main content -->
      <slot name="main" />
    </main>
    
    <Footer />

    <script>
      document
        .getElementById("searchForm")
        .addEventListener("submit", function (e) {
          e.preventDefault();
          const query = (
            document.getElementById("searchQuery") as HTMLInputElement
          ).value;
          if (query) {
            sessionStorage.setItem("searchQuery", query);
            window.location.href = "/Eatsy/searchResults";
          }
        });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    ></script>
  </body>
</html>
